/*last change: April 26, 2015*/


/*phenoJungle*/
 .node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
 
/*for visual-bytes that use words and numbers*/
.graphicWords {
	fill: #999999;
	font-weight:normal;
}
.graphicNumber {
	fill: #142E40;
	font-weight:bold;
}


/*blueish background rectangle*/
svg {
margin: 0 auto;
display: block;
}
/*deprecated already
g.rect {
	fill: pink;
	margin: 0 auto;
}*/
div.d3visualbyte {
  background: #DAE9F2;
  padding: 10px;
}


/*all things charts*/
.line {
  fill: none;
  stroke: #F73A18;
  stroke-width: 0.2em;
}

.axis {
	fill:#999999;
	stroke-width: 0.2em;
}

.axis path,
.axis line {
    fill:#999999;
    stroke: #999999;
   # stroke-width: 1;
    shape-rendering: crispEdges;
	
}
/*grid is for the lines on the graph*/
.grid .tick {
    stroke: #999999;
	stroke-width: 1px;
    shape-rendering: crispEdges;

}

.x.grid .tick {
	stroke-dasharray:5,5;
}
.grid path {
     stroke-width: 1px;
}

.area {
    fill: lightsteelblue;
      stroke-width: 1.5;
}