%tag.class#id{name: 'this', value: 'that'}
.container-fluid#page_content
  .row
    .col-lg-12
      %h1.land.welcome
        Welcome to
        %b VisualizeClinvar!
      %p.land We help you make sense of the data in ClinVar <br/> so you can make sense of discoveries
  .row
    .col-lg-12
      %form.col-lg-10
      .form-group
        %input#exampleSearchBar.hidden.cvform-control{:placeholder => "Enter a gene", :type => "text"}
        %button.hidden.cvbtn Search
  .container
  / Finds the total number of rows needed based on the number of graphs 
  - (@graphs.size/3.0).ceil.times do 
    %ul.row
      / Want three graphs per row every time
      - 3.times do
        / If there are no graphs, add a placeholder
        / Otherwise populate with graphs
        - if @graphs.empty?
          .col-lg-4.white-placeholder
        - else
          %li.col-lg-4.col-md-4.col-xs-6
            - graph = @graphs.pop
            = render 'static_graph', graph: graph
