%tag.class#id{name: 'this', value: 'that'}
.container-fluid#page_content
  .row
    .col-lg-12
      %h1.land.welcome
        Welcome to
        %b VisualizeClinvar!
      %p.land We help you make sense of the data in ClinVar <br/> so you can make sense of discoveries
  .row
    .col-lg-12
      %form.col-lg-10
      .form-group
        %input#exampleSearchBar.cvform-control{:placeholder => "Enter a gene", :type => "text"}
        %button.cvbtn Search

  - (@graphs.size/3.0).ceil.times do 
    .row.row-eq-height.graph-row
      - 3.times do
        - if @graphs.empty?
          .col-lg-4.white-mother
        - else
          - graph = @graphs.pop
          = render 'static_graph', graph: graph

  / .col-lg-2
  /   %h1.teamname Lance Pflieger
  /   %p.teamtitle Programming, Genetics Domain Expert, D3-developer
  /   %p.teamextra Anything extra can go here about the individual.
  /   %a LinkedIn
  / %form.col-lg-12
  /   %h1.form Feedback
  /   .form-group
  /     %input#exampleInputEmail1.cvform-control{:placeholder => "Enter Email", :type => "email"}
  /   .col-lg-2
  /     %button.cvbtn Submit
  / .col-lg-4.graph
  /   %h1.important Important Text
  /   %p.graph Secondary Text
