
  
div.columnLt{
    border:1px solid blue;
    float:left;
}

div.header{
            margin-left: auto;
            margin-right: auto;
            border: solid 1px red;
	}
	            
div.columnRt{
    border:1px solid blue;
    float:right;
}

div.top{
	background-color: #ADEBAD;
	width:100%;
	border:1px solid white;
	overflow:hidden;
	}
.title{
	font-size:50px;
	color:white;
	text-align:center;
}
a {
	margin-right:5px;
}