html, body { margin: 0px; padding: 0px; border: 0px; }
div.footer{
	width:980px;
	border: 2px solid;
	padding: 5px;
	text-align:center;
}

div.threeColumnContainer{
	position:relative;
	width:980px;
	height:340px;
	overflow:hidden;
	#border:1px solid ;
}
div.columnLt{
    #border:1px solid ;
    float:left;
	width:300px;
	height:300px;
	padding:10px;
}
div.middle{
	width:300px;
	height:300px;
    #border: solid 1px ;
	float:left;
	padding:10px;
	}            
div.columnRt{
	position:absolute;
    #border:1px solid blue;
    float:right;
	width: 300px;
	height:300px;
	padding:10px;
	top:0px;
	left:640px;
}

div.columnLtTop{
    #border:1px solid ;
    float:left;
	width: 90px;
	height:120px;
}
div.headerTop{
	width: 720px;
	height:120px;
    #border: solid 1px ;
}           
div.columnRtTop{
	position:absolute;
    #border:1px solid blue;
    #float:right;
	width: 200px;
	height:100px;
	padding:10px;
	top:0px;
	left:740px;
}
div.top{
	#background-color: #ADEBAD;
	position:relative;
	width:980px;
	#height: 500px;
	#border:1px solid red;
	#overflow:hidden;
	}
.title{
	font-size:50px;
	color:Black;
	text-align:center;
}
a {
	margin-right:5px;
}

