<!DOCTYPE html>
%html
	.top.text-center
		%h1.teamname
			%strong The Team
		%h2.blurb
			We believe in the visualization of data to support discovery
	.container
		.row
			.col-md-1
			.col-md-2.text-right
				= image_tag "welch.png", :class => "img-responsive"
			.col-md-3
				%h4
					%strong Brandon Welch
					%p
						%br
						Project Lead, Genetics 
						%br
						Domain Expert, Database Design
					%a 
						= link_to 'Linkedin', 'https://www.linkedin.com/in/welchbm', :target => "_blank"
			.col-md-2.text-right
				= image_tag "heale.png", :class => "img-responsive"
			.col-md-3
				%h4
					%strong Bret Heale
					%p
						%br
						Data-modeling, Genetics
						%br
						Domain Expert, D3-developer
					%a
						= link_to 'Linkedin', 'https://www.linkedin.com/pub/bret-heale-phd/26/53b/7ab', :target => "_blank"
			.col-md-1
		