@charset "utf-8";
/* CSS Document */

/*Color palette
#FFFFFF rgb(255,255,255)    Background
#DAE9F2 rgb(218,233,242)    Chart Background Blue
#B5DBF2 rgb(181,219,242)    Copyright Text Blue
#142E40 rgb(20,46,64)     Footer and Foreground Blue
#54BF26 rgb(84,191,38)      Link and Button Green
#327317 rgb(50,115,23)      Dark Green (Button/Link Hover)
#CCCCCC rgb(204,204,204)    Light Border Gray
#999999 rgb(153,153,153)    Dialog Foreground and Border Gray

*/

header {
  display:table;
  float:right;
}
/* Forms and Dialog CSS */
.cvform-control{
  display:inline-block;
  width:50%;
  padding: 3px;
  margin-left: 20%;
  font-size:1.7rem;
  color:#999999;
  background-color:#FFFFFF;
  background-image:none;
  border:1px solid #999999
  ;border-radius:1px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.cvform-control:focus{
  border-color:#4CAE23;
  outline:0;
  -webkit-box-shadow:
  inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(84,191,38,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(84,191,38,.6)
}
.cvform-control::-moz-placeholder{
  color:#999999;opacity:1
}
.cvform-control:-ms-input-placeholder{color:#999999}
.cvform-control::-webkit-input-placeholder{color:#999999}
.cvform-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{
  cursor:not-allowed;
  background-color:#FFFFFF;
  opacity:1
}

button.cvbtn{
  display:inline-block;
  margin-bottom:0;
  margin-right: 19%;
  width: 84px;
  padding: 3px;
  text-align:center;
  vertical-align:top;
  /*cursor:pointer;*/
  background-image:none;
  background-color:#54BF26;
  color:#FFFFFF;
  border:1px solid transparent;
  white-space:nowrap;
  font-size:1.6rem;
  border-radius:1px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  }

button.cvbtn:hover{
  background-color:#337317;
  color:#FFFFFF;
  text-decoration:none
  }

button.dnbtn{
  width: 87px;
  height:  36px;
  padding: 3px;
  text-align:center;
  float: right;
  vertical-align:middle;
  cursor:pointer;
  background-color:#F39D00;
  color:#FFFFFF;
  border:1px solid transparent;
  white-space:nowrap;
  font-size:1.3rem;
  border-radius:1px;
  margin-top: 73px;
  margin-right: 17%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  }

button.dnbtn:hover{
  background-color:#A6980F;
  color:#FFFFFF;
  text-decoration:none
  }

/* END Forms and Dialog CSS */

/* Buttons and Links */
a {
  font-size:1.4rem;
  text-decoration: underline;
  color: #54BF26;
  cursor: pointer;
  vertical-align: middle;
}
a:hover {
  color: #327317;
  text-decoration: underline;
}
a:focus {
  outline: none;
}
a.nav-feedback {
  display:inline-block;
  position:  relative;
  right:  -564px;
  text-transform:uppercase;
  font-size:1.8rem;
  font-weight:bold;
  text-align: right;
  text-decoration: none;
  margin-top: 0px;
  margin-right: 2%;
  color: #142E40;
}
a.nav-about {
  display:inline-block;
  position:  relative;
  right:  -345px;
  text-transform:uppercase;
  font-size:1.8rem;
  font-weight:bold;
  text-align: right;
  text-decoration: none;
  margin-top: 0px;
  margin-right: 2%;
  color: #142E40;
}
a.nav-feedback:hover {
  color: #142E40;
  text-decoration: none;
  border-bottom: 2px solid #142E40;
}
a.nav-feedback:focus {
  outline: none;
}
a.nav-about:hover {
  color: #142E40;
  text-decoration: none;
  border-bottom: 2px solid #142E40;
}
a.nav-about:focus {
  outline: none;
}
a.foot {
  text-transform:uppercase;
  width: 33%;
  font-size:1.4rem;
  font-weight:bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #FFFFFF;
}
a.foot:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}
a.foot:focus {
  outline: none;
}
/* END Buttons and Links */

/* Headers and Text */
body, p{
  font-size: 1.4rem;
  width: 100%;
  margin: 0 auto;
}
.logo{
  display:inline-block;
  min-width: 250px;
  cursor:pointer;
}

.paypal{
  display:inline-block;
  min-width: 50px;
  height:  36px;
  cursor:pointer;
  position:  relative;
  right:  -651px;
  margin-top:  69px;
}


h1.land{
  color:#142E40;
  font-size: 2.0rem;
  margin: 0 auto;
  text-align:center;
}
h1.form{
  color:#999999;
  font-size: 3.6rem;
  margin: 0 auto;
  text-align:left;
  margin-bottom:20px;
}
h1.teamname{
  color:#142E40;
  font-size: 1.8rem;
  font-weight:bold;
  margin: 0 auto;
  text-align:left;
  margin-bottom:1.6rem;
}
p.land{
  color:#142E40;
  font-size: 1.6rem;
  margin: 0 auto;
  margin-top: 3px;
  text-align:center;
  margin-bottom: 10px;
}
h2.squaretxt {
  color: #999999;
  font-size: 2.5rem;
  margin: 0 auto;
  /*margin-top: 3px;*/
  text-align:left;
  vertical-align: middle;
}
h2.squaretxt:hover {
  color: #FFFFFF;
  font-size: 2.5rem;
  margin: 0 auto;
  margin-top: 3px;
  text-align:left;
  vertical-align: middle;
}
p.footer {
  font-size: 1.2rem;
  color: #B5DBF2;
  margin: 0 auto;
  text-align:center;
}
p.teamtitle {
  color:#142E40;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align:left;
  margin-bottom:1.6rem;
}
p.teamextra {
  color:#142E40;
  font-size: 1.4rem;
  margin: 0 auto;
  text-align:left;
}
ul.footer{
  list-style-type: none;
  display: inline;
}

/* END Headers and Text */

/* Containers */
.footer {
  background-color:#142E40;
  padding-top:5px;
  width: 100%;
  padding-bottom:5px;
}
.square {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #FFFFFF;
  padding: 10px;
  vertical-align: middle;
}
.d3visualbyte{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #DAE9F2;
  height: 400px;
  vertical-align: middle;
}
.d3visualbyte:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.5);
}
/* END Containers */

/* Graph & Charts */
.graph{
    padding: 20px;
  width: 100%;
  max-height: 400px;
  max-width: 500px
}
.graph:hover{
  background-color: #000000;
  opacity: 0.1;
}
h1.important{
  color:#F73A18;
  font-weight:bold;
}
p.graph{
  color:#999999;
}
/* END Graph & Charts */





@media only screen and (max-width:767px) {
}

@media only screen and (min-width:768px) and (max-width:991px) {
}

@media only screen and (min-width:992px) and (max-width:1199px) {
}

@media only screen and (min-width:1200px) {
}
