body.graphs.index {
  div.radialsPhenoTermo div.RadialsInner {
    div {
      width: 50% !important;
      height: 50% !important;
    }
  }

  div.radialsGeneDBinfo div.RadialsInner {
    div {
      width: 20% !important;
      height: 20% !important;
    }
  }
}
