<!DOCTYPE html>
%html
	%h1.text-center 
		The Team
	%h4.text-center
		Blerb about the team if you want one. It can go here.
	.box
	.row
		.col-md-1
		.col-md-1.text-center
			= image_tag "individual_photo.png"
		.vertical-box
		.col-md-1
		.col-md-3
			%h4
				Brandon Welch
			%h5
				Project Lead, Genetics
		.col-md-1.text-center
			= image_tag "individual_photo.png"
		.col-md-1
		.col-md-3
			%h4
				Brandon Welch
			%h5
				Project Lead, Genetics
	.box
	.row
		.col-md-1
		.col-md-1.text-center
			= image_tag "individual_photo.png"
		.col-md-1
		.col-md-3
			%h4
				Brandon Welch
			%h5
				Project Lead, Genetics
		.col-md-1.text-center
			= image_tag "individual_photo.png"
		.col-md-1
		.col-md-3
			%h4
				Brandon Welch
			%h5
				Project Lead, Genetics